<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test">

    <cache eviction="LRU" readOnly="true" flushInterval="100000" size="1024"></cache>

    <select id="findStuById" resultType="com.darren.demo.spring.mybatis.Student">
        SELECT *
        FROM student
        where id = #{id};
    </select>

    <select id="findAll" resultType="com.darren.demo.spring.mybatis.Student">
        SELECT *
        FROM student;
    </select>

    <insert id="insert" parameterType="com.darren.demo.spring.mybatis.Student">
        INSERT INTO student (name, score, age, gender)
        VALUES (#{name}, #{score}, #{age}, #{gender});
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            -- mysql的一个函数 可以用来获取最近插入或更新的主键
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>

    <delete id="delete" parameterType="int">
        DELETE
        FROM student
        WHERE id = #{id};
    </delete>

    <!--    批量查询-->
    <select id="batchFind" resultType="student" parameterType="java.util.List">
        SELECT * FROM student
        <where>
            <if test="list != null and list.size() > 0">
                AND id in
                <foreach collection="list" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
